.coverage/*
!.coverage/cobertura.xml
!.coverage/junit.xml
.php-cs-fixer.cache
.phpunit.cache/
.phpunit.result.cache
composer.lock
composer.phar
reports/
Tests/assets/.~lock.workbook.xlsx#
var/
vendor/
